* {
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.heading-container {
  padding: 0.5rem 0.5rem 0.2rem;
}

.navbar-custom {
  background-color: #1976d2;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  color: #fff;
  font-weight: 600;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.heading-primary {
  background-color: rgba(137, 137, 235, 0.5);
}

.heading-secondary {
  background-color: rgba(255, 207, 68, 0.5);
}
